.hamburguerMain{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 70px;

    background: rgba(0, 0, 0, 0.54);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
}

.hamburguerMain li{
    list-style-type: none;
    margin: 2.5rem;
    margin-top: 0;
    text-align: center;

}

.hamburguerMain a{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.hamburguerMain a:hover{
    color: #7f7f7f;
    transition: .7s;
}

